<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: black;">
    <a class="navbar-brand" href="#">HASSAIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#sec1">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sec2">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sec">Our Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sec3">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sec4">About Us</a>
            </li>
        </ul>
    </div>
</nav>